# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Build directories
build
dist

# Generated code
generated

# Yarn
.yarn/cache
.yarn/install-state.gz

# Peronal
thunder-tests
.vscode